// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light: #f9f7f7;
$light-blue: #dbe2ef;
$blue-sky: #3f72af;
$dark-blue:#112d4e;
