
.profile-header{
  margin: 0px;
  width: 100%;
  height: 400px;
  background: url(https://source.unsplash.com/random);
  background-size: cover;
  background-repeat: no-repeat;
}

.profile{
  width: 100%;
  position: relative;
  top: -87px;
}

.pic-holder{
	width: 180px;
	height: 180px;
	border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  margin: auto;
}

.pic-holder img{
  max-height:100%;
  display: block;
}

.info{
  text-align: center;
  h3{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    color:$dark-blue;
  }
  h4 {
    color:#51708E;
  }
  h4 i{
    padding-right: 10px;
    margin-bottom: 20px;
  }
  p{
    width:50%;
    margin:0 auto;
    line-height: 2;
  }
  .profile-quote {
    font-family: 'Georgia';
    font-size: 250px;
    opacity: .15;
    top: 320px;
    left: 46%;
    position: absolute;
    color:#51708E;
  }
  .info-sports {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color:#51708E;
    font-weight: 600;
    font-size:14px;
  }
  .info-desc {
    color:#51708E;
    font-weight: 600;
    opacity: .7;
  }
}

.btn-update{
  display: flex;
  justify-content: flex-end;
}

.btn-edit{
  margin-right: 65px;
  border: 2px solid $blue-sky;
}

.nav-item {
    margin: 0 auto;
    padding: 1em 3em;
    text-align: center;
}
.nav-item a {
    color: #FFF;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    opacity:.4;
}

.nav-tabs .nav-link.active {
  opacity:1;
  padding:12px 16px;
  color:$dark-blue;
}


.profile-icone {
  font-size: 30px;
  margin-bottom: 20px;
  padding-right: 30px;
}

.user-description {
  align-items: center;
  margin-bottom: 130px;
  li{
    color: $dark-blue;
    list-style: none;
  }
}

.profile-container {
  margin-bottom: 30px;
  padding-bottom: 50px;
  background-color: white;
  border-radius: 10px;
  margin-top: -100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card-friend {
  a{
    text-decoration: none;
  }
  width: 45%;
  overflow: hidden;
  height: auto;
  background: white;
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  .btn-profile-link{
    margin-left: 220px;
    margin-top: -70px;
    color: white;
    background-color: $blue-sky;
  }
}

.card-friend img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card-friend h2 {
  font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #51708E;
}

.card-friend p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  font-weight: 600;
  color: #51708E;
  opacity: .6;

}

.card_friend_name{
  text-decoration: none;
  color: $dark-blue;
  text-align: center;
}

.card-friend .card-friend-infos {
  padding: 16px;
  align-items: center;

}

.friendlist{
  display: flex;
  justify-content: center;
}

.card-friend-h2{
  display: flex;
  h2{
    padding-left: 4px;
  }
}


.nav-item-profile{
  padding: 0;
  color: $dark-blue;
  a{
    font-weight: 600;
    font-size: 20px;
    color: $dark-blue;
    border: none;
  }
  a.active{
    border-radius: 10px;
    border-bottom: 2px solid $blue-sky !important;
    background-color: $light-blue !important;
    font-weight: bold;
    color: $dark-blue;
    border-color: transparent !important;
  }
}
.navbar-profile {
  width: 100%;
  margin-bottom: 40px;
  background: transparent;
}


.friend_button{
  border: none;
}

.modal-body{
  flex-wrap: wrap;
}


.card_friend {
  border-radius: 50%;
  margin: 10px 5px;
}

.card_friend_name{
  font-weight: bold;
  text-decoration: none;
}


/*¨TABS */
.container-events-profile {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  width: 100%;

  .index-card-category {
    width:41%;
  }


.profile-invitations .card-friend img {
  width:auto;

}
}

.sport_data{
  display: flex;
  align-items: center;
  p{
    padding: 3px 3px;
  }
  .sport_data_p{
    font-size: 16px;
  }
}
