body{
  padding:0px;
  margin:0px;
  font-family: "HelveticaNeue-light", "Helvetica Neue light", "Helvetica Neue light", Helvetica, Arial, sans-serif;
}

.profile-header{
  margin: 0px;
  width: 100%;
  height: 400px;
  background: url(https://images.pexels.com/photos/163444/sport-treadmill-tor-route-163444.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center bottom;
}

.profile{
  width: 100%;
  position: relative;
  top: -130px;
}

.pic-holder{
	width: 180px;
	height: 180px;
	border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  margin: auto;
}

.pic-holder img{
  max-height:100%;
  display: block;
}

.info{
  text-align: center;
}
