
.profile-header{
  margin: 0px;
  width: 100%;
  height: 400px;
  background: url(https://images.pexels.com/photos/457882/pexels-photo-457882.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: top bottom;
}

.profile{
  width: 100%;
  position: relative;
  top: -87px;
}

.pic-holder{
	width: 180px;
	height: 180px;
	border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  margin: auto;
}

.pic-holder img{
  max-height:100%;
  display: block;
}

.info{
  text-align: center;
  h3{
    font-size: 40px;
    font-weight: 600;
  }
}

.btn-update{
  display: flex;
  justify-content: flex-end;
}

.btn-edit{
  margin-right: 65px;
  border: 2px solid $blue-sky;
}

.nav-item {
    margin: 0 auto;
    padding: 1em 3em;
    text-align: center;
}
.nav-item a {
    color: #FFF;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
}
.topBotomBordersOut{
  font-size: 17px;
  font-weight: 600;
}
.topBotomBordersOut a:before, .topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: $blue-sky;
    content:"";
    opacity: 0;
    transition: all 0.3s;
}
.topBotomBordersOut a:active{
  font-weight: bold;
}
.topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
}
.topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
}
.topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

.profile-icone {
  font-size: 30px;
  margin-bottom: 20px;
  padding-right: 30px;
}

.user-description {
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  li{
    color: $dark-blue;
    list-style: none;
  }
}

.profile-container {
  margin-bottom: 30px;
  padding-bottom: 50px;
  background-color: white;
  border-radius: 10px;
  margin-top: -30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card-friend {
  width: 45%;
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card-friend img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-friend h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-friend p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;

}

.card-friend .card-friend-infos {
  padding: 16px;
}

.friendlist{
  display: flex;
  justify-content: center;
}

.user-informations{
  padding: 30px;
  background: $blue-sky;
  color: #FFF;
  width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  p {
    margin-bottom: 0;
  }
}

.nav-item-profile{
  padding: 0;
  color: $dark-blue;
  a{
    color: $dark-blue;
    border: none;
  }
  a.active{
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: $dark-blue;
    border-color: transparent;
  }
}
.navbar-profile {
  width: 100%;
  margin-bottom: 40px;
  background: transparent;

}
