.show-body-background {
  background-color: #D9E8EF;
}

.main-show {
  display: flex;
  // width: 100%;
  // height: 100vh;
  justify-content: space-between;
  background-color: #D9E8EF;
  margin-top: 120px;
}


.card-show-infos {
  position: relative;
  left: 10%;
  z-index: 1;
}

.card-show-infos h1 {
  font-size: 62px;
  color: #172574;
  width: auto;
}

.backlink-show {
  text-decoration: none !important;
  font-size: 18px;
  opacity: 0.4 !important;
}

.card-event-description {
  background: #FFFFFF;
  box-shadow: 5px 5px 24px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 750px;
  left: 143px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 30px 40px 30px 40px;
}

.card-event-description h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.card-event-description p {
  font-size: 20px;
  line-height: 1.85;
  opacity: 0.8;
  font-weight: 500;
}

.card-event-date {
  display: flex;
  h2 {
    margin-right: 16px;
  }
  h3 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-right: 16px;
    opacity: 0.8;
  }
  i {
    opacity: 0.6;
  }
  .gray-separator {
    opacity: 0.4;
  }
}

.cta-show {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;

}

.cta-show a {
  font-size: 20px;
  text-decoration: none !important;

}

.btn-show-participate {
  border-radius: 50px;
  background-color: #4094FE;
  color: white;
  margin-right: 115px;
  border: none;
  font-size: 16px !important;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 16px 24px;
  margin-right: 20px;
}

.btn-show-buddies {
  border-radius: 50px;
  background-color: white;
  color: #4094FE;
  margin-right: 115px;
  border: 2px solid #4094FE;
  font-size: 16px !important;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 16px 24px;
  margin-right: 20px;
}

.event-owner-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.owner-avatar {
  display: flex;
  align-items: center;
  text-align: left;
  flex: 1 auto;
  margin-bottom: 30px;
}

.owner-avatar img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.owner-avatar p {
  width: 100%;
  margin-left: 5px;
  margin-bottom: 0px;
  padding-left: 10px;
  font-size: 18px;
  opacity: 0.6;
}

.event-owner-level-expected {
  margin-bottom: 30px;
  display: flex;
  text-align: center;
  p {
    margin-bottom: 0px;
    opacity: 0.65;
  }
  i {
    margin-left: 10px;
  }
}

.event-show-chat {
  margin-top: 20px;
  width: 60%;
  margin-bottom: 50px;
}

.event-message {
  display: flex;
  width: 85%;
  // flex: 0 1;
  // justify-content: space-around;
  margin-top: 20px;
}
.message_to_send {
  display: flex;
  align-items: center;
  width: 80%;
}

.field-message-content {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background-color: white;
  border: 1px solid #4194FE;
  border-radius: 15px;
  padding: 10px 20px;
  width: 300px;
  margin-left: 80px;
  margin-right: 40px;
}
.message-content {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background-color: white;
  border: 1px solid #4194FE;
  border-radius: 15px;
  padding: 10px 20px;
}

.unsuscribed-field-message-content {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background-color: white;
  border: 1px solid #4194FE;
  border-radius: 15px;
  padding: 10px 20px;
  width: 400px;
  margin-left: 80px;
  margin-right: 40px;
  opacity: 0.65;
}

.message-user {
  font-size: 13px;
  opacity: 0.8;
}

.messages-avatar img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin-right: 20px;
}

.map-show {
  width: 50%;
  height: 100vh;
  margin-right: 2px;
  position: sticky;
  top: 0;
  margin-top: -120px;
}


.gold-color {
  color: gold;
}


@media screen and (min-width: 1025px) {
  .card-event-description {
    width: 900px;
  }
}
