<div class="banner" style="background-image:url(https://images.unsplash.com/photo-1502904550040-7534597429ae?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1549&q=80);">
  <div class="container title">
    <h1>SPORT BUDDIES</h1>
    <p>Trouve des amis sportifs près de chez toi.</p>
    <a class="btn btn-dark btn-lg" href="#">Crées ton activité</a>
    <a class="btn btn-dark btn-lg" href="#">Rejoins une activité</a>
  </div>
</div>
