<div class="banner banner-sport" style="background-image:linear-gradient(156.5deg, rgb(26 126 212 / 81%) 8.55%, rgba(143, 148, 251, 0.51) 100.52%), url(https://images.unsplash.com/photo-1594623274890-6b45ce7cf44a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80);">
  <div class="container title" id="container-title">
    <h1>Sport Buddies</h1>
    <p>Trouve des amis sportifs près de chez toi.</p>


    <%= link_to "Crée une partie", new_event_path, class: "btn btn-lg btn-create" %>
    <%= link_to "Rejoins une partie", events_path, class: "btn btn-join" %>

  </div>
</div>
