<div class="footer-index">
<p class="text-center">Copyright @2020 | Designed  by <a href="#">Sport Buddies</a></p>

<ul class="social_footer_ul">
<li><a href="http://github.com/YannTarot"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="http://github.com/pgroleau69"><i class="fab fa-twitter"></i></a></li>
<li><a href="http://github.com/davidtravailleur"><i class="fab fa-linkedin"></i></a></li>
<li><a href="http://github.com/Mart-dev59"><i class="fab fa-github"></i></a></li>
</ul>
</div>
