<div class="nav d-flex justify-content-between">

      <div class="logo">
        <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "sportbuddies-logo.png", class: 'logo-image' %>
        <% end %>
      </div>

      <div id="mainListDiv" class="main_list">
          <ul class="list-inline">
              <li class="list-inline-item"><a href="#">Créer</a></li>
              <li class="list-inline-item"><a href="#">Rejoindre</a></li>
              <li class="list-inline-item"><a href="#">Contact</a></li>
              <li class="list-inline-item"><%= link_to "Connexion", new_user_session_path%></li>
              <li class="list-inline-item"><%= link_to "S'inscrire", new_user_registration_path %></li>
            </ul>
      </div>
      <span class="navTrigger">
          <i></i>
          <i></i>
          <i></i>
      </span>

</div>
