<div class="pop-up card-product">
  <%= cl_image_tag event.photo.key, height: 100, width: 210, crop: :fill %>
  <div class="card-product-infos">
    <h2><%= event.name %></h2>
    <p><%= event.location %></p>
    <p><%= event.date %></p>
  </div>
</div>
