<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-new-event">
    <div class="form-new-event">
      <%= simple_form_for(@event) do |f| %>
        <%= f.input :name %>
        <%= f.input :location %>
        <%= f.button :submit, "Connexion", class: 'btn-login btn-primary' %>
        <% end %>
    </div>
  </div>
</body>
</html>
