
  <div class="container-new-event">
    <div class="form-new-event">
      <%= simple_form_for(@event) do |f| %>
        <%= f.input :name %>
        <%= f.input :location %>
        <%= f.button :submit, "Connexion", class: 'btn-login btn-primary' %>
        <% end %>
    </div>
