<div class="banner-new-event">
<div class="container-new-event">
  <h1>Crée ton événement</h1>
  <div class="form-new-event">
    <%= render "form", event: @event %>
  </div>
</div>

<%# style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "runners-banner.jpg" %>.
