<%= render 'shared/banner' %>
<div class="home-page">

    <!-- Moscow Spacer -->

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="first-container-title">
          <h1>Marre de faire du sport tout seul ?</h1>
          <h2>Sport buddies est le meilleur moyen de garder la forme à plusieurs</h2>
        </div>
        <div class="cards">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "value1.png" %>)">
              Choisis les sports qui te conviennent le mieux
            </div>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "value2.png" %>)">
              Rencontre de nouveaux buddies pour rester motivé
            </div>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "value3.png" %>)">
              Découvre de nouveaux sports
            </div>
        </div>
      </div>
    </div>

    <!-- Seychelles  -->
    <div class="seychelles parallax_medium" id="seychelles">
    </div>
    <!-- Seychelles Spacer -->
    <div class="spacer">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="first-container-title">
            <h1>Comment ça marche ?</h1>
          </div>
          <div class="icons">
            <div class="icon-category">
              <div class="icon">
                <img src="https://www.flaticon.com/svg/static/icons/svg/179/179349.svg" alt="Recherchez votre camping-car !" title="Recherchez votre camping-car !">
              </div>
              <div class="icon-content">
                <h2>Recherchez votre camping-car !</h2>
                <p>Entrez la destination et les dates de votre voyage.</p>
              </div>
            </div>
            <div class="icon-category">
              <div class="icon">
                <img src="https://www.flaticon.com/svg/static/icons/svg/179/179350.svg" alt="Demandez votre camping-car !" title="Demandez votre camping-car !">
              </div>
              <div class="icon-content">
                <h2>Demandez votre camping-car !</h2>
                <p>Envoyez une demande de location au propriétaire du camping-car que vous avez choisi.</p>
              </div>
            </div>
            <div class="icon-category">
              <div class="icon">
                <img src="https://www.flaticon.com/svg/static/icons/svg/179/179351.svg" alt="Finalisez votre réservation !" title="Finalisez votre réservation !">
              </div>
              <div class="icon-content">
                <h2>Finalisez votre réservation !</h2>
                <p>Payez en ligne et partez à l'aventure !</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Finland -->
    <div class="finland parallax_large" id="finland">
    </div>
    <!-- Finland Spacer -->
    <div class="spacer">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1>Lorem</h1>

        </div>
      </div>
    </div>
    <!-- Hong Kong -->
    <div class="hongkong parallax_medium" id="hongkong">
    </div>
    <!-- Hong Kong Spacer -->
    <div class="spacer">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1>Lorem</h1>

        </div>
      </div>
    </div>

    <!-- Hong Kong -->
    <div class="cinq parallax_medium" id="cinq">
    </div>
    </div>
