<%= render 'shared/banner' %>
  <div class="moscow" id="moscow">
    </div>
    <!-- Moscow Spacer -->
    <div class="spacer">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1>A propos</h1>
          <p>DANCE ATTITUDE est une association,
            une troupe de danseurs, qui a pour vocation la création de spectacles (danse moderne,
            rythmique, funky pop sur des musiques
            variées).
            Notre principal but est de développer
            notre passion au sein d’un groupe et d’axer
            notre démarche artistique sur la créativité
            et l’originalité des chorégraphies, mises en
            scène, costumes et décors.
            L’association regroupe à ce jour 130
            adhérents âgés de 5 à 60 ans, résidents à
            Montlivault et de communes voisines.
            Les danseurs sont répartis en 10 groupes,
            par tranche d’âge et sont encadrés par 12
            chorégraphes bénévoles.
          </p>
        </div>
      </div>
    </div>
    <!-- Seychelles  -->
    <div class="seychelles parallax_medium" id="seychelles">
    <h2>COMMENT CA MARCHE</h2>
    </div>
    <!-- Seychelles Spacer -->
    <div class="spacer">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1>Tarifs</h1>
          <p>Les répétitions se déroulent tous les lundi, mercredi &amp; vendredi à la salle
            municipale
            de Montlivault ainsi qu&#39;aux salles
            périscolaires (hormis les vacances
            scolaires).
            La cotisation est de 80 € pour l’année de
            septembre à juin.</p>
        </div>
      </div>
    </div>
    <!-- Finland -->
    <div class="finland parallax_large" id="finland">
    </div>
    <!-- Finland Spacer -->
    <div class="spacer">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1>Membres du bureau</h1>
          <p class="staff">Présidente : CIRET AURELIE<br>
            Vice-présidente : PRIEUR CHRISTINE<br>
            Trésorier : LEFEVRE REMY<br>
            Secrétaire : GALAS CAROLINE<br>
            Secrétaire adjointe : VIRGERY MURIEL</p>
        </div>
      </div>
    </div>
    <!-- Hong Kong -->
    <div class="hongkong parallax_medium" id="hongkong">
    </div>
    <!-- Hong Kong Spacer -->
    <div class="spacer">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1>Chorégraphes</h1>
          <p class="staff">DA SILVA MARIE<br>
            DESTOUCHES MARJORIE<br>
            GALAS MANON<br>
            GAUTIER LUDIVINE<br>
            MAUNY JUSTINE<br>
            MENAGE FLAVIE<br>
            PRIEUR CHRISTINE<br>
            PRIEUR  STEPHANIE<br>
            VOISIN HERMELINE<br>
            </p>
        </div>
      </div>
    </div>

    <!-- Hong Kong -->
    <div class="cinq parallax_medium" id="cinq">
    </div>
    <
