.btn{
  border-radius: 50px;
  background-color: white;
  color: #3f72af;
  margin-right: 115px;
  border: none;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 16px 24px;
  margin-right: 20px;
}
