
.search-container{
  padding: 2rem;
  margin-bottom: 50px;
  margin-top: 10px;
}

.search-slt{
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius:10px;
  margin-right: 10px !important;
}
.wrn-btn{
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  height: calc(3rem + 2px) !important;
  border-radius:0;

}

.searchformbutton{
  background-color: #3f72af;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: black;
}

.searchformbutton:hover {
  background-color: #112d4e;
}

.form-input-index{
  margin-right: 5px;
  font-weight: 20px;
}

.container-cards-map {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 90px;
}
