.container-index {
  padding-top: 80px;
}

.search-container{
  padding: 2rem;
  margin-bottom: 50px;
  margin-top: 10px;
}

.search-slt{
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  // border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  // border-radius:10px;
  // margin-right: 10px !important;
  border: none;
  border-right: 1px solid black;
}

.btn-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}

.wrn-btn{
  width: calc(3rem + 2px) !important;
  font-size: 16px;
  font-weight: 400;
  height: calc(3rem + 2px) !important;
  border-radius: 50%;
  border: none;
  background: #4194FE;
}

.all-search {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}

// .searchformbutton{
//   background-color: #4194FE;
//   // margin-left: 5px;
//   border-radius: 10px;
//   font-size: 20px;
//   font-weight: bold;
//   color: white;
//   text-shadow: black;
// }

.wrn-btn:hover {
  background-color: #112d4e;
}

// .form-input-index{
//   // margin-right: 5px;
//   font-weight: 20px;
// }


.container-cards-map {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.index-card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.0);
  transition: .6s;
  a {
    color: white !important;
  }
  a:hover {
    text-decoration: none !important;
  }
}

.index-card-category:hover {
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
  transition: .6s;
  transform: translateY(-3px);
  cursor: pointer;
}

.index-card-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: -webkit-fill-available;

  .index-card-info-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
  }

  .time-event {
    font-size: medium;
    font-weight: normal;
    margin-bottom: 0;
  }
  .medals {
    align-items: center;
    margin-left: 10px;
  }

  .fa-medal {
    font-size: 18px;
  }

}

.index-card-info-player {
  display: flex;
.icon {
  margin-left: 8px;
}

}

.index-card-btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: -25px;
  height: auto;
}

.index-btn {
  cursor: pointer;
  padding: 0.75rem 1.7rem;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: #4194FE;
  border: none;
  border-radius: 7px;
}

.index-btn:hover {
  transform: scale(1.1) !important;
  text-decoration: none;
}

#map {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: sticky;
  top: 114px;

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .container-cards-map {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-cards-map {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-cards-map {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-cards-map {
    grid-template-columns: 2fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-cards-map {
    grid-template-columns: 2fr 1fr;
  }
}
