.container-index {
  padding-top: 80px;
}

.form-wrapper {
  background-color: white;
  border-radius: 50px 0 0 50px;
  padding: 15px;
  border-right: 1px solid #F0F0F0;
}

.search-container{
  margin-left: 55px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.margin-right-zero{
  margin-right: 0;
}
.search-slt{
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  height: calc(3rem + 2px) !important;
  border: none;
  border-right: 1px solid #F0F0F0;
}

.btn-wrapper {
  background-color: white;
  border-radius: 0 50px 50px 0;
  padding: 6px;
}

.wrn-btn{
  font-size: 16px;
  font-weight: 400;
  border-radius: 50%;
  border: none;
  background: #3f72af;
  width: 36px;
  height: 36px;
  color: white;
}

.all-search {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}


#city {
  border-radius: 50px 0 0 50px;
}

// .searchformbutton{
//   background-color: #4194FE;
//   // margin-left: 5px;
//   border-radius: 10px;
//   font-size: 20px;
//   font-weight: bold;
//   color: white;
//   text-shadow: black;
// }

.wrn-btn:hover {
  background-color: #112d4e;
}

// .form-input-index{
//   // margin-right: 5px;
//   font-weight: 20px;
// }


.container-cards-map {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 40px;
  margin-right: 40px;
  margin-left: 40px;
}

.index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.index-card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.0);
  transition: .6s;
  a {
    color: white !important;
  }
  a:hover {
    text-decoration: none !important;
  }
}

.index-card-category:hover {
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
  transition: .6s;
  transform: translateY(-3px);
  cursor: pointer;
}

.index-card-info {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  height: -webkit-fill-available;

  h4 {
    text-shadow:0px 2px 4px rgba(0,0,0,0.8);
    letter-spacing: .5px;
  }

  p {
    text-shadow:0px 2px 4px rgba(0,0,0,0.8);
    letter-spacing: .5px;

  }

  .index-card-info-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
  }

  .time-event {
    font-size: medium;
    font-weight: normal;
    margin-bottom: 0;
  }
  .medals {
    align-items: center;
    margin-left: 10px;
  }

  .fa-medal {
    font-size: 18px;
  }

}

.index-card-info-player {
  display: flex;
.icon {
  margin-left: 8px;
}

}

.index-card-category:hover .index-card-btn {
  opacity:1;
  transition:.6s;
  transform: translateY(-3px);
}
.index-card-btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: -25px;
  height: auto;
  opacity:0;
  transition:.6s;
  transform: translateY(3px);
}

.index-btn {
  cursor: pointer;
  padding: 0.75rem 1.7rem;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: #3f72af;
  border: none;
  border-radius: 7px;
}

.index-btn:hover {
  transform: scale(1.1) !important;
  text-decoration: none;
}

.container-index {

  #map {
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: sticky;
    top: 114px;
    margin-top: -130px;
  }

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .container-cards-map {
    grid-template-columns: 1fr;
  }

  .index-cards {
    grid-template-columns: 1fr
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-cards-map {
    grid-template-columns: 1fr 1fr;
  }

  .index-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-cards-map {
    grid-template-columns: 2fr 1fr;
  }

  .index-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-cards-map {
    grid-template-columns: 2fr 1fr;
  }

  .index-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-cards-map {
    grid-template-columns: 3fr 1fr;
  }

  .index-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
