.navbar-lewagon {
  justify-content: space-between;
  background: #112d4e;
  height: 85px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  margin-left: 30px;
}
.navbar-nav{
  align-items: center;
}
.nav-item{
  font-size: 20px;
  font-weight: 600;
  a{
    opacity: .8 !important;
    margin: 0 !important;
  }
}

.nav-link-navbar{
  color: white !important;
  padding-top: 50px !important;
}

.dropdown-menu{
  background: #3984e2;
  border-radius: 8px;
}

.nav-item{
  padding-left: 10px !important;
  padding-top: 10px;

}
